<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form #loginForm="ngForm">
          <div>
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                id="username"
                class="form-control"
                ngModel
                name="username"
                required>
            </div>
            <div class="form-group">
              <label for="email">Mail</label>
              <input
                type="email"
                id="email"
                class="form-control"
                ngModel
                name="email"
                required
                email
                #email="ngModel">
              <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
            </div>
            <div class="form-group">
                <label for = "password">Password</label>
                <input
                type="password"
                id="password"
                class="form-control"
                ngModel
                name="password"
                required
                #password="ngModel">
             <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a password!</span>
          </div>
          <p *ngIf="!loginForm.valid && loginForm.touched"> Please enter the login details!!</p>
          <button
            class="btn btn-primary"
            type="submit" 
            routerLinkActive="active" routerLink='/success'>Submit</button>      
      </div>
      </form>
    </div>
    <hr>
  </div>
  